In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('ml_dataset.csv')

df[df.paid == True]

,days_engaged,minutes_watched,engaged_with_quizzes,engaged_with_exams,engaged_with_qa,paid
2,29.0,531.2,True,True,False,True
5,19.0,620.0,True,True,True,True
20,77.0,1392.5,True,True,True,True
23,15.0,382.7,True,True,True,True
33,12.0,298.7,True,True,False,True
...,...,...,...,...,...,...
34735,2.0,337.1,True,True,False,True
34839,1.0,2.0,False,False,False,True
34880,2.0,314.8,True,True,False,True
34973,1.0,1.3,False,False,False,True
35105,1.0,43.1,False,True,False,True